@import "../../../../../assets/scss/fuse.scss";

:host {
  @include AllDivSpace();
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;

  .row {
    width: 100%;

    .item {
      margin: 3% 0;

      &.nameCol{
        margin-right: 30px;
      }

      &:not(:first-child){
        padding-left: 4%;
        border-left: 1px solid $light_gray;
      }

      .label {
        font-size: min(max(2.8rem, 12px), 17px);
        color: $medium_gray;
      }

      .value {
        font-size: min(max(3.5rem, 15px), 18px);
        color: $black;
        word-break: break-all;

        &#color {
          display: flex;
          align-items: center;
          &::after {
            content: "";
            margin-left: 8px;
            border: 1px solid $medium_gray;
            display: block;
            width: min(max(3.5rem, 20px), 26px);
            height: min(max(3.5rem, 20px), 26px);
            border-radius: 50%;
            background-color: var(--cardColor);
          }
        }
      }
    }
  }

  &.xSmall{
    .item{
      border-left: none !important;
      padding-left: 0 !important;
    }
  }
}
