<app-edit-view
[title]="isCreatePage ? 'Criar  Serviço' : 'Editar Serviço'"
 [isCreatePage]="isCreatePage"
 [saveEnabled]="hasChanges"
 [discardEnabled]="hasChanges && !isCreatePage"
 (onSave)="onSave()"
 (onDelete)="onDelete()"
  >
  <div id="container" >
    <form [formGroup]="resourceForm">
      <div class="row">
        <div class="col-12 col-sm-7 col-md-6 col-lg-6 col-xl-4">
          <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" maxlength="50" formControlName="name" class="form-control" />
          </div>
        </div>

        <div class="col col-12 col-sm-7 col-md-4 col-lg-4 col-xl-3">
          <div class="form-group dense-3">
            <div class="form-group">
              <label for="name">Codigo Interno:</label>
              <input type="text" maxlength="50" formControlName="innercode" class="form-control" />
            </div>
          </div>
        </div>
        <div class="col col-12 col-sm-7 col-md-4 col-lg-4 col-xl-3">
          <div class="form-group dense-3">
            <div class="form-group">
              <label for="name">Valor do Serviço:</label>
              <input type="text" maxlength="50" formControlName="costValue" class="form-control" />
            </div>
          </div>
        </div>




      </div>
    </form>
  </div>
</app-edit-view>
