<app-list-view
  [title]="'Tipos de OS'"
  [registerCount]="facade.totalCount"
  [foundCount]="facade.foundCount"
  [pageSize]="facade.MAX_PAGE_ITEMS"
  [btnAddText]="'Novo Tipo de OS'"
  [columns]="facade.LIST_COLUMNS"
  [data]="this.facade.currentOrderedValues"
  [loadingContent]="facade.loading"

  (searchEvent)="onSearchChange($event)"
  (addNewEvent)="onBtnAddClick()"
  (editEvent)="onEditClick($event)"
  (viewEvent)="onViewDetailsClick($event)"
  (pageSelectedEvent)="onPageSelected($event)"
>
</app-list-view>
